<%- model_class = FrankenBeer -%>
<table class="table table-striped">
  <thead>
  <tr>
    <th></th>
    <th><%= sortable "abv" %></th>
    <th></th>
    <th><%= sortable model_class.human_attribute_name(:brewery) %></th>
    <% if user_signed_in? %>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
    <% end %>
  </tr>
  </thead>
  <tbody id="tag_search">
  <% @tag_records.each do |franken_beer| %>
      <tr>
        <td><%= link_to franken_beer_path(franken_beer)  do %><%= franken_beer.beername %><% end %></td>
        <td align="center">
          <% if franken_beer.alcohol > 0 %>
              <%= franken_beer.alcohol %>%
          <% else %>
              -
          <% end %>
        </td>
        <td>
          <% if franken_beer.active == false%>
              (Retired)
          <% end %>
        </td>
        <td>
          <% if franken_beer.franken_brewery %>
              <%= link_to franken_brewery_path(franken_beer.franken_brewery)  do %><%= franken_beer.franken_brewery.brewer_name %><% end %>
          <% end %>
        </td>
        <td>

              <%= link_to edit_tag_record_path(franken_beer.tag_record_id), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
                  edit <%= glyph 'pencil' %>
              <%- end -%>
              <%= link_to tag_record_path(franken_beer.tag_record_id), :method => :delete, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
                  remove <%= glyph 'remove' %>
              <%- end -%>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
