<%- model_class = Tag -%>

<div class="page-header">
  <h1><%= @tag.name %></h1>
  <div class="form-group">
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_tag_path(@tag), :class => 'btn btn-default' %>
  </div>
</div>


<div id="tag_search">

  <div id="tagged_beer_list"><%= render "tagged_beer" %></div>

  <%= form_tag tag_path(@tag), :method => 'get', :id => "franken_beers_search", :remote => true do %>
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :disable_with=>"Loading...", :name => nil %>
      </p>
  <% end %>
  <input class="check_all" name="" type="checkbox" value="1"> All

</div>


    <div id="franken_beers_list"></div>

    <%= submit_tag "Add Association", :id=> "add_all" %>





