<p id="notice"><%= notice %></p>

<p>
  <strong>Brewer name:</strong>
  <%= @franken_brewery.brewer_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @franken_brewery.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @franken_brewery.city %>
</p>

<p>
  <strong>District:</strong>
  <%= @franken_brewery.district %>
</p>

<p>
  <strong>Rbid:</strong>
  <%= @franken_brewery.rbid %>
</p>

<p>
  <strong>Active:</strong>
  <%= @franken_brewery.active %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @franken_brewery.founded %>
</p>

<p>
  <strong>Brewer type:</strong>
  <%= @franken_brewery.brewer_type %>
</p>

<p>
  <strong>Score:</strong>
  <%= @franken_brewery.score %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @franken_brewery.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @franken_brewery.lon %>
</p>

<p>
  <strong>Web:</strong>
  <%= @franken_brewery.web %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @franken_brewery.hours %>
</p>

<p>
  <strong>Description:</strong>
  <%= @franken_brewery.description %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @franken_brewery.phone %>
</p>

<%= link_to 'Edit', edit_franken_brewery_path(@franken_brewery) %> |
<%= link_to 'Back', franken_breweries_path %>
